<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../css/style-dentists.css" />
        <title>Dentists</title>
    </head>
    <body>
        <header class="banner">
            <div class="row banner-menu">
                <div class="eight columns">
                    <a href="/index.html"> <h1>White Teeth</h1></a>
                </div>
                <div class="four columns">
                    <ul>
                        <a href=""><li>contact us</li></a>
                        <a href="./appointments.html"><li>appointment</li></a>
                        <a href="./dentists.html"><li>dentists</li></a>
                        <a href="./patients.html"><li>patients</li></a>
                    </ul>
                </div>
                <span class="banner-overlay"></span>
            </div>
        </header>
        <main>
            <div>
                <div class="dentists-menu">
                    <div>
                        <h3>dentists menu</h3>
                    </div>
                    <button class="dentists-menu--button">
                        create dentist
                    </button>
                    <button id="show-dentists" class="dentists-menu--button">
                        dentists
                    </button>
                </div>
            </div>
            <div class="dentists-list">
                <table id="dentists-table" class="u-full-width hide">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Age</th>
                            <th>Sex</th>
                            <th>Location</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Dave Gamache</td>
                            <td>26</td>
                            <td>Male</td>
                            <td>San Francisco</td>
                        </tr>
                        <tr>
                            <td>Dwayne Johnson</td>
                            <td>42</td>
                            <td>Male</td>
                            <td>Hayward</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </main>
        <footer></footer>
        <script src="../js/dentists.js"></script>
    </body>
</html>
